<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/plantas"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-avatar>
    <ion-img [src]="userProfileImage"></ion-img>
  </ion-avatar>
  <ion-button (click)="takePhoto()" class="small-button" color="success">Cambiar imagen</ion-button>

  <ion-list>
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-text>{{ Nombre }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Apellido:</ion-label>
      <ion-text>{{ Apellido }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Edad:</ion-label>
      <ion-text>{{ Edad }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Rut:</ion-label>
      <ion-text>{{ Rut }}</ion-text>
    </ion-item>
    <ion-item>
        <ion-label>Sexo:</ion-label>
        <ion-text>{{ Sexo }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Direccion:</ion-label>
        <ion-text>{{ Direccion }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-text>{{ Email }}</ion-text>
      </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="goToHome()" class="small-button" color="success">Aceptar</ion-button>
  <ion-button expand="block" color="success"  (click)="logOut()" class="small-button">Cerrar sesión</ion-button>

</ion-content>

