ion-avatar {
    display: block;
    margin: 0 auto; /* Centra horizontalmente */
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: 200px; /* Ajusta el alto según tus necesidades */
  }
  
  ion-button {
    display: block;
    margin: 20px auto;
  }
  
  .small-button {
    font-size: 12px; /* Ajusta el tamaño de la fuente */
    padding: 5px 10px; /* Ajusta el relleno (padding) */
  }
  