<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Historial de Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
       </ion-thumbnail>
      <ion-label>
        <p>Nombre:</p>
        <p>Precio: </p>
        <p>Cantidad: </p>
        <p>fecha:</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Total: </ion-label>
    </ion-item>
    <ion-button expand="full" color="success" (click)="home()">aceptar</ion-button>
  </ion-list>
</ion-content>