<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre del Producto</ion-label>
      <ion-input [(ngModel)]="nombreProducto" placeholder="Nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Precio</ion-label>
      <ion-input [(ngModel)]="precioProducto" type="number" placeholder="Precio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">ID</ion-label>
      <ion-input [(ngModel)]="codigoProducto" placeholder="ID"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Imagen</ion-label>
      <ion-input [(ngModel)]="imagenProducto" placeholder="URL de la imagen"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descripcion</ion-label>
      <ion-input [(ngModel)]="descProducto" placeholder="Descripcion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Stock</ion-label>
      <ion-input [(ngModel)]="stockProducto" type="number" placeholder="Stock"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button color="success" expand="block" (click)="agregarProducto()">Agregar Producto</ion-button>
</ion-content>